<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>vue</title>

    <link rel="stylesheet" href="../public/lib/bootstrap3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/vue.css">

    <script src="../public/lib/vue/vue.js"></script>
    <script src="../public/lib/jquery/jquery-3.3.1.min.js"></script>
    <script src="../public/lib/bootstrap3.3.7/js/bootstrap.min.js"></script>
    <script src="../public/js/myvue.js"></script>
</head>
<body>
<nav class="navbar navbar-default" role="navigation" style="border: none">
    <div class="container-fluid" style="background-color:#222222;border: none">
        <div class="navbar-header" style="border: none">
            <button id="navbtn" type="button" class="navbar-toggle"
                    data-toggle="collapse" data-target="#navbar-vue">
                <span class="sr-only"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand">redpeanuts</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-vue">
            <ul class="nav navbar-nav">
                <li><a href="/auth/reminder">reminder</a></li>
                <li><a href="">life</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container" id="parentC">
</div>
<div class="panel-footer">
    <p class="progress-bar"></p>
</div>

</div>
</body>
</html>